In [156]:
import pandas as pd

In [157]:
data = pd.read_json('car-list.json')

In [158]:
data.head()

     brand                                             models
0     Seat  [Alhambra, Altea, Altea XL, Arosa, Cordoba, Co...
1  Renault  [Captur, Clio, Clio Grandtour, Espace, Express...
2  Peugeot  [1007, 107, 106, 108, 2008, 205, 205 Cabrio, 2...
3    Dacia  [Dokker, Duster, Lodgy, Logan, Logan MCV, Loga...
4  Citroën  [Berlingo, C-Crosser, C-Elissée, C-Zero, C1, C...

### Convert strings to lower

In [159]:
def model_lower(x):
    x = [str(i).lower() for i in x]
    return x

In [160]:
data['brand'] = data['brand'].str.lower()       # brand lower

for index, row in data['models'].iteritems():   # model lower
    row=[item.lower() for item in row]
    data['models'][index]=row

### Translate French characters

Translate french char sets based on translation tables.  
Example:  
```
translationTable = str.maketrans("éàèùâêîôûç", "eaeuaeiouc")

test = "Héllô Càèùverâêt Jîôûç"
test = test.translate(translationTable)
print(test)
```

Ref: https://stackoverflow.com/questions/41004941/python-replace-french-letters-with-english

In [161]:
map={"citroën":"citroen", "škoda":"skoda"}                   # Replace brand names
data.replace({"brand": map},inplace= True) 

translatentable = str.maketrans("éàèùâêîôûç", "eaeuaeiouc")  # Replace brand models
for idx, row in data['models'].iteritems():
    new_row=[]
    for item in row:
        item.translate(translatentable)
        new_row.append(item)
    data['models'][idx]=new_row

In [162]:
data.to_json('car-list_v2.json')

In [164]:
data.head()

     brand                                             models
0     seat  [alhambra, altea, altea xl, arosa, cordoba, co...
1  renault  [captur, clio, clio grandtour, espace, express...
2  peugeot  [1007, 107, 106, 108, 2008, 205, 205 cabrio, 2...
3    dacia  [dokker, duster, lodgy, logan, logan mcv, loga...
4  citroen  [berlingo, c-crosser, c-elissée, c-zero, c1, c...